.navLink {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #031d44;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.navLink:hover {
  opacity: 1;
}

.navLink::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #031d44;
}

.navLinkFadeUp::before {
  width: 100%;
  bottom: 5px;
  opacity: 0;
}

.navLinkFadeUp:hover::before {
  bottom: 10px;
  opacity: 1;
}
